html{
    box-sizing: border-box;
    font-size: 12px;
}

h1{
    font-size: 7rem;
    color: rgb(6, 14, 85);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-size: 5rem;
    /*background-color:rgb(6, 14, 85);*/
    color: rgb(6, 14, 85);
    line-height: 1.5;
    font-family: monospace;
    align-items: center;
    text-align: center;
    
}

body{
    font-size: 2rem;
    color: rgb(6, 14, 85);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}



#home{
    padding: 10px;
    margin: 5rem;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    height:  100vh;
    display: flex;
    
}

#about{
    padding: 10px;
    margin: 5rem;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    height:  100vh;
    white-space: normal;
}
#achievements{
    padding: 10px;
    margin: 5rem;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    height:  100vh;
    white-space: normal;
}
#contact{
    padding: 10px;
    margin: 5rem;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    height:  100vh;
}

#programmingLang{
    background-color: #6f75b9;
    color:rgb(6, 14, 85);
    padding:  2rem;
    border-radius: 5rem;
}

/* Navigation bar */
nav{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    
}

/* Style the links inside the navigation bar */
.topnav a {
   float: left;
    color: #444040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
  
    
  }

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #f9fafa;
    color: rgb(6, 14, 85);
  }


  /* contact section */
#contact{
    margin-top: 2rem;
    padding: 10rem 5rem;
    text-align: center;
    color:rgb(6, 14, 85);
}

.contactIcon{
    width:  3rem;
    padding: 1rem;
}
.contactLinks{
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
    display: flex;
}

  .contactDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;

  }
